@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/SEO%20Tools/Amazing%20Escorts%20Aruba%202024/fonts/Comfortaa/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/SEO%20Tools/Amazing%20Escorts%20Aruba%202024/fonts/Comfortaa/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/SEO%20Tools/Amazing%20Escorts%20Aruba%202024/fonts/Comfortaa/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/SEO%20Tools/Amazing%20Escorts%20Aruba%202024/fonts/Comfortaa/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Comfortaa';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/SEO%20Tools/Amazing%20Escorts%20Aruba%202024/fonts/Comfortaa/regular.ttf') format('truetype');
}
